html {
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  background-color: rgba(100, 0, 0, 0.1);
}

body {
  background-color: rgb(241, 241, 241);
  width: 375px;
  height: 700px;
  border: 1px solid #999;
  color: #172b4d;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-family: 'Inter', serif;
}

.tool-bar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 1px 10px;
}

.background {
  background-image: url("./assets/header-illsutration-mobile@2x.png");
  background-size: 100%;
  background-repeat: no-repeat;
  flex: 7;
  display: flex;
  align-items: center;
  flex-direction: column;
}

main {
  display: flex;
  flex: 8;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 65%;
  border: 1px solid #999;
}

.heading {
  text-align: center;
  flex-direction: column;
  justify-content: flex-end;
}

.green-text {
  color: #36b37e;
}

article {
  width: 70%;
  font-style: normal;
  text-align: center;
  padding: 10px;
}

footer {
  display: flex;
  justify-content: center;
  flex: 2;
  width: 65%;
  border: 1px solid #999;
}

footer div {
  width: 65%;
  border: 1px solid #999;
  display: flex;
  justify-content: space-between;
}
